.row {
    margin-right: 0px; /* To remove the extra space on the right which causes a vertical scrollbar to show up */
    margin-left: 0px; /* To fix left overflow in mobile devices */
}

.has-below {
    padding-bottom: 20px;
}

.has-below-small {
    padding-bottom: 10px;
}

.has-below-tiny {
    padding-bottom: 5px;
}

#search-status {
  padding-left: 10px;
}

#search-btn > i {
  line-height: inherit;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus {
  color: #fff;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

input.form-control.simple:focus {
  border-color: #cccccc;
  box-shadow: none;
}

/* touch devices */
@media (hover: none) {
  .issue-actions {
    display: inline-block !important;
  }
}

.modal-dialog {
    max-width: 95%;
}

/* scrollable modal */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 400px;
    overflow-y: auto;
}
/* scrollable modal end */

.anchor-button {
    cursor: pointer;
    background: transparent;
    border: 0;
    line-height: 1;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.5;
}

button.btn-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

iframe {
  width: 100%;
  height: 100%;
}

#iframes-container {
  height: 93%;
}

html, body, .expand {
  height: 100%;
}
