.has-below {
    padding-bottom: 20px;
}

#search-btn > i {
  line-height: inherit;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.panel {
  border-radius: 4px;
}
